# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.cache-*

# IDEA
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build
.gradle

# Scala Misc
.metals
.bloop

# Other
eclipse
run
sandbox
.*/*

# Whitelist
!.github/*
