# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.cache-*

# IDEA
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build
.gradle

# Scala Misc
.metals
.bloop

# Other
eclipse
run
sandbox
.*/*

# Forge Files
CREDITS.txt
changelog.txt
forge*.zip
forge*changelog.txt

# Whitelist
!.github/*
