# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# IDEA
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build
.gradle
gradlew
gradlew.bat
gradle

# Scala Misc
.metals
.bloop

# Other
*.jar
eclipse
run
sandbox
.*/*

# Forge Files
CREDITS.txt
changelog.txt
forge*.zip
forge*changelog.txt
